<div class="megamenu_image_container">
  <div>
    <img src="{{ settings.column_image }}" alt="{{ settings.column_image_text }}">
    <p>{{ settings.column_image_text }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Mega Menu Image column",
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "column_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "column_image_text",
          "label": "Image's Text"
        }
      ]
    }
  ],

  "presets": [
    {
        "name":"Image Block",
        "blocks": [
            {
                "type": "image_block",
                "settings": [
                    {
                        "column_image": "null"

                    },
                    {
                        "column_image_text": "Image's Text"
                    }
                ]
            }   
        ]
    }
  ]
}
{% endschema %}
