<style>
    .seperator-bar{
        height: 20px;
        background-color: #efc0c3;

    }
</style>

<div class="seperator-bar">
    
</div>

{% schema %}
{
    "name": "Seperator Bar",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "Seperator Bar"
        }
    ]
    
}
{% endschema %}