.product__media-image {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}

.card--card .card-information {
  display: flex;
}

.card-heading {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.card-heading a {
  text-decoration:none;
  color: rgb(var(--color-foreground));
}

.product-card .card-heading:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.product-card-child {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.card-pricing {
  display: block;
}

.card--standard .card-information {
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-family: Poppins;
  margin-bottom: 12px;
}
.desktop-card-information {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}
.desktop-card-information a{
  color: black;
  margin-right: 2px;
  max-width: 85%;
  text-decoration: none;
  
}

.card--standard .price--on-sale .price__sale {
  display: flex;
}

.product-card {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 12px;
  box-sizing: border-box;
  position: relative;
  text-align: var(--product-card-text-alignment);
}

.card-media {
  display: flex;
  position: relative;
  align-items: stretch;
  width: calc(100% - 2 * var(--product-card-image-padding));
  margin: var(--product-card-image-padding);
}

.product-card.card--standard .card-media {
  box-sizing: border-box;
}

.card-media:before {
  content: "";
  width: 0;
  height: 0;
  padding-bottom: var(--media-ratio);
}

.card-media-child {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.card-media-child img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
